@font-face {
  font-family: 'trend';
  src: url('../../static/fonts/33ca94f43a53fc634323a6fe191ffd64.woff')
    format('woff');
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero-text {
  color: rgb(186, 186, 186);
  font-family: trend;
  font-size: 5vw;
}
.green {
  background-color: rgb(195, 255, 91);
}
